trials/data
trials/chroma
trials/model.pkl
trials/matches_c_1st.csv
trials/matches_c_2nd.csv
trials/corpus_per_match.txt
trials/corpus_full.txt

datas
chroma

.vscode
.conda
Veloria_Tech_ML_Intern_Assignment.pdf